#add
{
    background: rgb(46, 153, 32);
    border: 1px solid rgb(46, 153, 32);
}

#add:hover
{
    background: rgb(33, 110, 23);
    border: 1px solid rgb(33, 110, 23);
}

#modify
{
    background: rgb(214, 112, 29);
    border: 1px solid rgb(214, 112, 29);
}

#modify:hover
{
    background: rgb(172, 94, 30);
    border: 1px solid rgb(172, 94, 30);
}

#delete
{
    background: rgb(189, 23, 17);
    border: 1px solid rgb(189, 23, 17);
}

#delete:hover
{
    background: rgb(141, 17, 13);
    border: 1px solid rgb(141, 17, 13);
}

.aco-link, .aco-link:hover, .aco-link:focus, .aco-link:active, .aco-link:enabled, .aco-link:checked
{
background:#2C3E50;
border: 5px solid #2C3E50;
width:100%;
}
