h2 p
{
font-family: Verdana;
}

button
{
height: 15px;
width: 15px;
border-radius: 8px;
position: relative;
right: -25%;
border: 1.5px solid #fff;
background: #32312F;
}

button:hover
{
border: 1.5px solid #32312F;
background: #32312F;
}

table {
  border: 2px solid #418B96;
  background-color: #FFFFFF;
  text-align: center;
}
table td, table th {
  border: 4px solid #D9E4E6;
  padding: 4px 0px;
  font-family: Verdana;
}
table tbody td {
  font-size: 12px;
  font-family: Verdana;
}
table tr:nth-child(even) {
  background: #EAF3F3;
}
table thead {
  background: #167F92;
  border-bottom: 2px solid #FFFFFF;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #EAF3F3;
}
table thead th:first-child {
  border-left: none;
}

table tr:hover
{
background: #62ACB7;
color: #D5E2F3;
}

.btn
{
border-radius: 8px;
position: relative;
border: 1.5px solid #fff;
background: #32312F;
}