body
{
font-family: Helvetica, sans-serif;
background-color: #ffffff;
}

.main-section
{
margin: 0 auto; 
margin-top: 150px;
padding: 0;
}

.modal-content
{
background-color: #33495e;
border-radius: 10px 10px 10px 10px;
-webkit-box-shadow: 0 30px 50px 10px rgba(0,0,0,0.3);
box-shadow: 0 30px 50px 10px rgba(0,0,0,0.3);
text-align: center;
}

.user-img
{
margin-top: -50px;
margin-bottom: 30px;
}

.user-img img
{
height: 100px;
width: 100px;
}

.form-group
{
margin-bottom: 20px;
}

.form-group input
{
border-radius: 0;
border: 0;
height: 38px;
padding-left: 50px;
}

.form-group::before
{
position: absolute;
left: 25px;
font-size: 25px;
color: #366577;
}

.form-input button
{
width: 30%;
margin-bottom: 30px;
}

.success
{
font-family: Helvetica, sans-serif;
letter-spacing: 1px;
background-color: #1FA4B6;
transition-duration: 0.2s;
border-radius: 14px;
padding: .7rem;
color: #ffffff;
border: 10px;
}

.success:hover
{
background-color: #27ae60;
border-radius: 15px;
padding: .7rem;
color: #fff;
}
