.tab-pane
{
width:90%;
padding:5px;
background: #f4f7f8;
margin-left: auto;
margin-right: auto;
}

.nav-tabs > .nav-item > .active
{
background: #f4f7f8;
}

.nav-tabs
{
width:90%;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

.nav-tabs > li a
{
background-color: #005E7C;
color:#fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover
{
color:#000;
background: #f4f7f8;
}

.nav-tabs > li > a:hover
{
border-radius: 5px;
color:#000;
background: #f4f7f8;
}

/* MODULE Interieur */

.title
{
  font-weight: bold;
}


.present
{

  font-family: Helvetica, sans-serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 0;
}

.box-modules
{
    height: 90px;
    width: 180px;
    text-align: center;
    margin-top: 15%;
    margin-left: 35%;
    padding-top: 5%;
    font-weight: bold;
    font: Helvetica, sans-serif;
    color: #8a97a0;
    border-radius: 4px;
    background: #e8eeef;
    border: 2px solid #8a97a0;


}
