#accordion
{
width: 80%;
margin-left:auto;
margin-right: auto;
}

.card-header
{
background: #2C3E50;
border: 1px solid #2C3E50;
}

.card-link
{
color: #fff;
font-weight: bold;
}

.card-body
{
border: 1px solid #2C3E50;
border-top: 0;
}

h2
{
font-family: Helvetica, sans-serif;
color: #262626;
font-weight: bold;
margin-top: 20px;
margin-left: 30px;
}

form{
	max-width: 1200px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Helvetica, sans-serif;
}

form fieldset{
	border: none;
}

form label {
	display: block;
	margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea
{
	font-family: Helvetica, sans-serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form select:focus,
form textarea:focus
{
background: #d2d9dd;
}

form input[type="reset"],
form input[type="submit"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
  margin-top: 20px;
	background: #2C3E50;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 220px;
	border: 1px solid #2C3E50;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

form input[type="submit"]:hover
{
	background: #16a085;
}

form input[type="reset"]:hover
{
	background: #E40613;
}
