/* NAV */

header
{
position: static;
z-index: 10;
width: 100%;
background: #2C3E50;
color: #fff;
font: Helvetica;
}

.navbar-brand
{
color: #fff;
font-weight: 800;
text-transform: uppercase;
font-size: 1.5em;
padding-top: 15px;
}

.nav-item,
.login
{
font-weight: 650;
text-transform: uppercase;
padding-top: 15px;
}

.nav-link
{
font-family: "Helvetica";
}

.navbar-light .navbar-nav .nav-item .nav-link:hover
{
color: #1ABC9C;
}



.navbar-light .navbar-nav .nav-item.active .nav-link
{
background: #1ABC9C;
color: #fff;
border-radius: 15px;
}

.navbar-light .navbar-nav .login .nav-link
{
color: #FFFFFF;
padding: 5px 15px;
background: #1FA4B6;
border-radius: 15px;
}

.navbar-light .navbar-nav .nav-item .nav-link
{
color: #FFFFFF;
padding: 5px 15px;
}

.navbar-light .navbar-toggler
{
border: none;
color: #fff;
border: 2px solid #7f7f7f;
border-radius: 0;
outline: none;
}

/* FOOTER */

.page-footer
{
    background-color: #2C3E50;
}

.title-footer
{
    color: #1ABC9C;
}

.text-footer
{
    color: rgb(255, 255, 255);
}

footer
{
    box-shadow:inset 0 10px 11px -10px rgb(151, 151, 151);
    margin-top: 30px;
}
